.page-title {
    text-align: center;
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 20px;
    margin-bottom: 1%;
    border-radius: 3%;
}

button {
    margin-bottom: 2%;
    background-color: black;
    color: white;
    width: 120px;
    height: 20px;
}